.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*.moon-box{
    top: -30vh;
    width: 45vh;
    height: 45vh;
    padding: 5vh;
    background: linear-gradient(90deg, rgb(83, 83, 83) 0%, rgb(26, 23, 23) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5vh 10vh 5vh;
    border-radius: 2vh;
    position: static;
}*/



.mph-widget{
    top: -5vh;
    background-color: #7462d2;
    margin-bottom: 5vh;
}


.current-place{
    display: none;
}
