.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3vh;
}


.acordeon-title{
    margin-top: 3vh;
    height: 5vh;
    width: 100vh;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:  0 2vh;
    text-transform: capitalize;
    border-radius: 1vh;

    font-size: 2.4vh;
    border: 0.1vh solid rgb(137, 137, 137);
}

.acordeon-links{
    background: #c7c7c7;
}

@media screen and (max-width: 960px){
    .acordeon-title{
        width: 70vh;
    }
}

@media screen and (max-width: 550px){
    .acordeon-title{
        width: 45vh;
    }
}